{erl_opts, [debug_info]}.

%% == Release Information
{relx, [{release, {ethandb, "0.0.1"},
         [ethandb]},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}]}.

%% == Deps Listing ==

{deps, [
  {cowboy, "2.6.3"}, % package
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
  {ewt, { git, "git://github.com/brigadier/ewt.git", {branch, "master" }}},
  {jiffy, "0.14.11"},
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {throttle, "0.2.0", {pkg, lambda_throttle}},
  {jesse, "1.4.0", {git, "https://github.com/for-GET/jesse.git", {tag, "1.4.0"}}}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

%% == Distribution ==
{dist_node, [
    {setcookie, 'messagemap123'}
    % {sname, 'lab01'}
]}.

%% == Shell ==

%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.
{shell, [
  {apps, [ethandb]},
  {config, ['config/sys.config']}
]}.
