{erl_opts, [debug_info]}.

%% == Release Information
{relx, [{release, {messagemap, "0.0.1"}, [messagemap]},
        {sys_config, "./config/sys.config"},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}
      ]
}.

%% == Deps Listing == 

{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
  {jose, {git, "git://github.com/potatosalad/erlang-jose.git", {tag, "1.11.1"}}},
  {jiffy, {git, "git://github.com/davisp/jiffy.git", {tag, "master"}}},
  {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.2"}}},
  {jesse, {git, "https://github.com/for-GET/jesse.git", {tag, "1.5.5"}}}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, false},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

%% == Distribution ==
{dist_node, [
    {setcookie, 'messagemap'} % Change this to be on boot and set by configFile
]}.

%% == Shell ==

%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.
{shell, [
  {apps, [messagemap]},
  {config, ['config/sys.config']}
]}.
